# IDEA files
.idea/
out/
*.iml
*.xml

# Gradle build files
.gradle/
build/
src/main/resources/docs/

# Text files
*.txt

# Test directories for run output excel files
src/main/resources/sample-output-files/output-files-clean/
src/main/resources/sample-output-files/output-files-with-summary-data/
src/main/resources/sample-output-files/tableau-excel-file/tableau-excel-file.xlsx
src/main/resources/sample-output-files/tableau-excel-file/tableau-excel-file - Copy.xlsx
src/main/resources/sample-output-files/tableau-excel-file/tableau-excel-file-oriignal.xlsx
